/* 
  * {margin: 0;
     padding: 0;
  }
	
  body {font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 100%;
	margin: 20px;
	padding: 10px;
  }

  section:nth-of-type(2) {padding: 15px 25px;
           width: 650px;
	   margin-top: 20px;
	   margin-left: 25px;
	   border: 3px solid blue;	
 }

  h1 {font-size: 150%;
  }
  
  h1 em {font-size: 0.50em;
  }

  h2 {font-size: 120%;
      padding: .25em 0 .25em 25px;
      cursor: pointer;
  }

  .plus {background: url(plus.png) no-repeat left center;
  }
  
  .minus {background: url(minus.png) no-repeat left center;
  }
   
  .close {display: none;
  }
  
  .open {display: block;
  }
    
  ul {padding-left: 45px;
  }
  
  li {padding-bottom: .25em;
  }
  
  p {padding-bottom: .25em;
     padding-left: 25px;
  }
  
  #intro {margin: 20px 10px;
  }
  
  ol li:nth-of-type(3), ol li:nth-of-type(8) {
          color: red;    
  }
  
  #intro ul{
        margin-left: 50px;
	margin-top: 0px;
	color: red;
	list-style-type: disc;
  }*/


.hide {
  display: none;
}
.show {
  display: block;
}





