.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
	/*background: url(http://www.freeiconspng.com/uploads/gas-station-icon--0.png);*/
	/*opacity: .9;*/
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;*/
}
.text-center {
	text-align: center;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
#main {
	padding: 25px 100px;
    background-color: #000;
    margin: 0 auto;
    opacity: 0.9;
    color: #FFF;
}
section {
	padding: 30px 0;
}

section.quote-section .text {
	font-size: 18px;
	color: #FFF;
}
section.quote-section h4 {
	font-size: 25px;
	color: #0897c3;
	margin-top: 10px;
}

#allDays {
	text-align: right;
	width: 300px;
}
#allQuotes {
	text-align: left;
	width: 500px;
}
#allDays, #allQuotes {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

section.allWrap {
	width: 900px;
	margin: 0 auto;
	border-top: 1px solid #0897c3;
}
section.allWrap span {
	margin-bottom: 5px;
	display: block;
}