body {
  font-family:arial; font-size: 100%;
}

#outer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  padding: 10px;
}

h2 {
  font-size: 16pt;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

div {
  margin-bottom: 25px;
}
      
p {
  margin: 0px;
  padding: 10px;
}
  
.bottomBorder {
    border-bottom: 1px dashed #000;
}